.music{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 4px inset var(--color-white);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px 20px;
    gap: 20px;
}
.music-p{
    font-size: 24px;
    color: var(--color-white);
}
