.time-mode-p {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
}

.time-mode-p span {
  font-size: 16px;
}

.time-mode-h1 {
  font-size: 200px;
  font-weight: 00;
  color: var(--color-white);
}
.time-mode-h1 span {
  font-size: 48px;
}
.time-mode{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}